@font-face{
  font-family: "allFont";
  src: url('./assets/fonts/DMSans-Regular.ttf');
}
*{
  font-family: "allFont";
}
body{
  margin:0;
  padding:0;
  border:0;
  background-color:  #EDF2F4;
}

.logoContainer{
margin-top:10px;
  margin-right: auto;
margin-left:auto;
  width:50%;
  height:700px;
  background-image:url('./assets/img/TravelOnABudgetLogo.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
.logo{
  display:flex;
  justify-content:flex-start;
  width: 40%;
  height:auto;

}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
}
nav > ul > li {
  display:flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.homepage-buttons {
  display:flex;
  justify-content:space-evenly;
}

/* The side navigation menu */
.overlay {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Position and style the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


p{
  color:white;
}
h2{
  color:white;
}

ul {
  color:white;
}

/* Add a black background color to the top navigation */

  .firstContainer {
    display: flex;
   align-items: center;
   justify-content: flex-start;
   background-color: #5b7b7a;
   margin-top:-160px;
   padding-top:75px;
   }


  .secondContainer {
    display: flex;
   align-items: center;
   justify-content: flex-end;
   background-color: #5b7b7a;
   padding-top:180px;
   padding-bottom: 150px;
  }

  .thirdContainer {
   display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #5b7b7a;
  }

.soloImg {
max-width: 100%;
max-height:100%;
margin-left:-290px;
margin-right: -250px;
  }

.soloText {
  font-size: 20px;
  padding-left: 20px;
}

.roundBorder{
  border-radius: 30px;
}

.soloPage{
 margin-top: 80px;
 margin-left: 250px;

}
.soloTripLayout{
 display:grid;
grid-template-columns: 50% 50%;
}
.form{
  display:flex;
  justify-content: flex-start;
 flex-direction:column;
 position:fixed;
 top:4.2em;
  padding-right:25px;
  background-color: #5b7b7a;
  padding-bottom: 50%;
}

.formOnSide{
  display:flex;
}

.distance{
  margin-left: 25px;
}

footer{
  text-align: center;
}

.tripImage {
  opacity: 1;
  width: 100%;
  height: auto;
  transition: .5s ease;
  margin-bottom: 35px;
  margin-left: 35px;
}

.container {
  width: 90%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}

.container:hover .tripImage {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}
.text {
  color: #7c3626;
  font-size: 40px;
text-align: center;
  display: none;
}

.container:hover .text{
display:flex;
justify-content: center;
margin-top: -200px;
margin-left: 590px;
font-weight: bold;
}

.btn{
  background-color:#f6ae2d;
  border:none;
  padding: 15px 25px;
  margin-top: 15px;
  margin-left: 45px;
  margin-right: 60px;
  text-align: center;
  border-radius: 15px;
}

.btn:hover{
  background-color: #f2f2f2;
}
.button:active {
  background-color: #f2f2f2;
  transform: translateY(4px);
}

.checkboxForm{
  margin-bottom:30px;
  text-align: center;
}

.checkboxLabel{
  margin-left: -5px;
  margin-right: 25px;
  color:#EDF2F4;
}

.sideSearchTitle{
  text-align:center;
  margin-left:15px;
  margin-top: 50px;
  margin-bottom: 50px;
  color:#EDF2F4;
}

.centerText{
  text-align: center;
}
.tripsTitle{
  color:#7c3626;
  font-size: 65px;
}
.tripDesc{
  color:#7c3626;
  font-size: 25px;
  opacity:0.5;
}
#main {
  transition: margin-right .5s;
  padding: 16px;
}

.aboutText{
text-align:center;
border: solid 5px;
margin-top:100px;
margin-left: 500px;
margin-right: 500px;
padding:50px;
line-height: 1.5;
}

.overlay{
  display:flex;
  background-color: #7c3626;
}


.overlayImg {
  width: 40%;
  max-height:60%;
  margin-top: -60px;
}

.overlayText{
 margin-top: -50px;
margin-left: 50px;
line-height: 1.6;
overflow:scroll;
font-size: 17px;
color:#050505;
}
.overlayText > p{
  color: #050505;
}
.overlayText >ul >li{
  color:#050505;
}
.overlayText >ul>li>ul>li{
  color: #050505;
}
.overlayText >ul>li>ul>li{
  color: #050505;
}

.aboutUsTitle{
  margin-top: 135px;
  margin-bottom:100px;
}


.contactForm{
text-align: center;
}

.formContainer{
  border-radius: 5px;
  background-color: #5b7b7a;
  padding: 70px;
  padding-bottom: 100px;
  width: 25%;
  margin-left: 500px;
}

.padding{
  padding-bottom: 50px;
}

.box{
  border-radius: 8px;
}

.textAreaHeight{
  height:200px;
  width:350px;
}

.inputHeight{
height:30px;
width:300px;
}

.contactFormTitle{
margin-top: 100px;
}

.aboutUsImg{
  width: 400px;
  height:400px;
}

.aboutImgs{
  display:flex;
  justify-content: space-evenly;
}

.overlayTitle{
  text-align:center;
  font-size:45px;
  margin-top: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  color:#050505;
}

.subheadings{
  color:#050505;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
}

#contactFormMessage{
display:none;
color:#7c3626;
  font-size: 25px;
  opacity:0.5;
  text-align: center;
  border: solid 5px;
  margin-left: 600px;
margin-right: 600px;
padding:20px;

}

@media (max-width: 549px) {
  .hidden--mobile {
    display: none !important;
  }


  nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-image:url('./assets/img/TravelOnABudgetLogo.png');
    background-size: 38%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 32%;
    padding-bottom: 1em;

  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
    color: black;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }

  nav > ul > li > a {
   color:#5b7b7a;
   text-decoration: none;
   font-size: 1.2em;
  }
  .logoContainer{
 display:none;
  }

.firstContainer{
  display:grid;
  padding-top: 1.5em;
  margin-top: 1.5em;
}
.secondContainer{
  display:grid;
padding-top: 3em;
padding-bottom: 3em;
  }

  .soloImg{
    margin:0;
    padding-top: 3em;
  }

  .soloText {
    font-size: .75rem;
    padding-left: 0;
    text-align: center;
  }
  .homeImg{
    width:90%
  }
}

@media (min-width: 550px) {

  nav > .fa-bars {
    display: none;
  }

  .topNav {
    display:flex;
    background-color: #050505;
    overflow: hidden;
    margin:0;
    position:fixed;
    left: 0;      /* ADDED */
    top: 0;       /* ADDED */
    width: 100%;
    }

    /* Style the links inside the navigation bar */
    .topNav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.1em;
    }

    /* Change the color of links on hover */
    .topNav a:hover {
      background-color: #f6ae2d;
      color: black;
    }

    /* Add a color to the active/current link */
    .topNav a.active {
    background-color: ##f6ae2d;
    color: white;
    }

    .activeNav{
      background-color: #5b7b7a;
      color:black;
    }

}





