body{
  margin:0;
  padding:0;
  border:0;
  background-color:  #EDF2F4;
}

.logoContainer{
margin-top:10px;
  margin-right: auto;
margin-left:auto;
  width:50%;
  height:700px;
  background-image:url('./assets/img/TravelOnABudgetLogo.png');
  background-size: 100%;
}
.logo{
  display:flex;
  justify-content:flex-start;
  width: 40%;
  height:auto;

}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;

}

nav > ul > li {
  display:flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.homepage-buttons {
  display:flex;
  justify-content:space-evenly;
}

/* The side navigation menu */
.overlay {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Position and style the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

a + p{
  color:yellow;
}
p{
  color:white;
}
h2{
  color:white;
}

ul {
  color:white;
}

/* Add a black background color to the top navigation */
.topNav {
  background-color: #050505;
  overflow: hidden;
  margin:0;
  position:fixed;
  left: 0;      /* ADDED */
  top: 0;       /* ADDED */
  width: 100%;
  }

  /* Style the links inside the navigation bar */
  .topNav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }

  /* Change the color of links on hover */
  .topNav a:hover {
    background-color: #f6ae2d;
    color: black;
  }

  /* Add a color to the active/current link */
  .topNav a.active {
  background-color: ##f6ae2d;
  color: white;
  }

  .activeNav{
    background-color: #5b7b7a;
    color:black;
  }

  .firstContainer {
    display: flex;
   align-items: center;
   justify-content: flex-start;
   background-color: #5b7b7a;
   margin-top:-160px;
   padding-top:75px;
   }


  .secondContainer {
    display: flex;
   align-items: center;
   justify-content: flex-end;
   background-color: #5b7b7a;
   padding-top:180px;
   padding-bottom: 150px;
  }

  .thirdContainer {
   display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #5b7b7a;
  }

.soloImg {
max-width: 100%;
max-height:100%;
margin-left:-290px;
margin-right: -250px;
  }

.soloText {
  font-size: 20px;
  padding-left: 20px;
}

.roundBorder{
  border-radius: 30px;
}

.soloPage{
  display: flex;
  justify-content: center;
  flex-direction:row;
 margin-top: 80px;
 margin-left: 250px;

}
.soloTripLayout{
  display:flex;
  flex-wrap:wrap;
}
.form{
  display:flex;
  justify-content: flex-start;
 flex-direction:column;
 position:fixed;
 top:4.2em;
  padding-right:25px;
  border-radius:0px 8px 8px 0px;
  background-color: #5b7b7a;
  padding-bottom: 50%;
}

.formOnSide{
  display:flex;
}

.distance{
  margin-left: 25px;
}

.city{
  text-align:center;

}

.beach{
  text-align:center;
}
.camping{
  text-align: center;
}
.unique{
  text-align:center;
}

footer{
  text-align: center;
}

.myOverlay{
 display: flex;
 flex-direction: column;
 flex-wrap:wrap;
  width:50%;
  height:auto;
}


.tripImage {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.myOverlay:hover .tripImage{
  opacity: 0.3;
}
.centered {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.myOverlay:hover .centered{
  opacity:1;
}

.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  text-align: center;
}

.myOverlayNY{
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
   width:50%;
   height:auto;
 }

 .tripImageNY {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.centeredNY {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.myOverlayNY:hover .tripImageNY{
  opacity: 0.3;
}
.myOverlayNY:hover .centeredNY{
  opacity:1;
}


.textNY {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  text-align: center;
}
